<div class="gallery-container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <img ngSrc="../../assets/Chalkidiki.jpeg" title="Chalkidiki, Greece" fill priority />
    </mat-grid-tile>
    <mat-grid-tile>
      <img ngSrc="../../assets/Maui.JPEG" title="Maui, Hawaii" fill priority />
    </mat-grid-tile>
    <mat-grid-tile>
      <img ngSrc="../../assets/Milan.jpeg" title="Milan, Italy" fill priority />
    </mat-grid-tile>
    <mat-grid-tile>
      <img ngSrc="../../assets/TowerOfHercules.jpeg" title="Tower of Hercules in A Coruña, Galicia, Spain" fill
        priority />
    </mat-grid-tile>
  </mat-grid-list>
  <figcaption>Some of the places I've visited (photos my own)</figcaption>
</div>