<div class="container">
  <mat-card>
    <mat-card-content>
      <h2>About me</h2>
      <mat-tab-group>
        <mat-tab label="Summary">
          <p>
            I was born and raised on the prairie of Alberta, Canada. Many of my
            current hobbies and passions were sparked in childhood: computing,
            getting outdoors, travelling, golfing, and skiing. Today I'm passionate about building
            software that makes a positive impact in the world. I enjoy working with
            all parts of the stack, but my hobby interest lies in the front-end (I
            ❤️ design systems).
          </p>
        </mat-tab>
        <mat-tab label="Education"> Education </mat-tab>
        <mat-tab label="Gallery">
          <div class="gallery-container">
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <img ngSrc="../../assets/Chalkidiki.jpeg" title="Chalkidiki, Greece" fill priority />
              </mat-grid-tile>
              <mat-grid-tile>
                <img ngSrc="../../assets/Maui.JPEG" title="Maui, Hawaii" fill priority />
              </mat-grid-tile>
              <mat-grid-tile>
                <img ngSrc="../../assets/Milan.jpeg" title="Milan, Italy" fill priority />
              </mat-grid-tile>
              <mat-grid-tile>
                <img ngSrc="../../assets/TowerOfHercules.jpeg" title="Tower of Hercules in A Coruña, Galicia, Spain"
                  fill priority />
              </mat-grid-tile>
            </mat-grid-list>
            <figcaption>Some of the places I've visited (photos my own)</figcaption>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>