<div class="container">
  <mat-card>
    <mat-card-header>
      <h2>Contact</h2>
    </mat-card-header>
    <mat-card-content>
      <a
        mat-raised-button
        href="https://github.com/brettpasula"
        aria-label="Open my GitHub profile in a new tab"
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-icon>open_in_new</mat-icon>
        GitHub
      </a>
      <a
        mat-raised-button
        href="https://www.linkedin.com/in/brettpasula/"
        aria-label="Open my LinkedIn profile in a new tab"
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-icon>open_in_new</mat-icon>
        LinkedIn
      </a>
    </mat-card-content>
  </mat-card>
</div>
