<div class="container">
  <mat-card>
    <mat-card-content>
      <h2>About me</h2>
      <p>
        I was born and raised on the prairie of Alberta, Canada. Many of my
        current hobbies and passions were sparked in childhood: computing,
        getting outdoors, travelling, golfing, and skiing. Today I'm
        passionate about building software that makes a positive impact in
        the world. I enjoy working with all parts of the stack, but my hobby
        interest lies in the front-end (I ❤️ design systems).
      </p>
      <mat-divider></mat-divider>
      <h3>Education</h3>
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon class="icon">school</mat-icon>
          <span matListItemTitle>Bachelor of Computer Science</span>
          <span matListItemLine>University of British Columbia <i>(2021)</i></span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon class="icon">school</mat-icon>
          <span matListItemTitle>Bachelor of Science, Geology</span>
          <span>University of British Columbia <i>(2018)</i></span>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <gallery></gallery>
    </mat-card-content>
  </mat-card>
</div>