<div class="container">
  <mat-card>
    <mat-card-content>
      <h2>About me</h2>
      <mat-tab-group>
        <mat-tab label="Summary">
          <p>
            I was born and raised on the prairie of Alberta, Canada. Many of my
            current hobbies and passions were sparked in childhood: computing,
            getting outdoors, travelling, golfing, and skiing. Today I'm
            passionate about building software that makes a positive impact in
            the world. I enjoy working with all parts of the stack, but my hobby
            interest lies in the front-end (I ❤️ design systems).
          </p>
        </mat-tab>
        <mat-tab label="Education"> Education </mat-tab>
        <mat-tab label="Gallery">
          <gallery></gallery>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
