<div class="container">
  <mat-card>
    <mat-card-header>
      <h2>About me</h2>
      <span class="spacer"></span>
      <icon-row></icon-row>
    </mat-card-header>
    <mat-card-content>
      <p>
        I was born and raised on the prairie of Alberta, Canada. Many of my
        current hobbies and passions were sparked in childhood: computing,
        getting outdoors, travelling, golfing, and skiing. Today I'm passionate
        about building software that makes a positive impact in the world. I
        enjoy working with all parts of the stack, but my hobby interest lies in
        the front-end (I ❤️ design systems).
      </p>
      <mat-divider></mat-divider>
      <h3>Education</h3>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Bachelor of Computer Science </mat-panel-title>
            <mat-panel-description
              >University of British Columbia (2021)</mat-panel-description
            >
          </mat-expansion-panel-header>
          <p>
            An introductory programming course I took as part of my former
            studies initiated my interest in computer programming. In the fall
            of 2018 I returned to UBC to complete my Bachelor of Computer
            Science. As part of my BCS degree I completed a co-op term and
            courses on algorithms, data structures, data visualization,
            hardware, machine learning, networking and relational databases. I
            supplemented my degree with additional business courses on financial
            and managerial accounting, entrepreneurship, ethics, and processes
            and operations.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Bachelor of Science, Geology </mat-panel-title>
            <mat-panel-description
              >University of British Columbia (2018)</mat-panel-description
            >
          </mat-expansion-panel-header>
          <p>
            I moved to the west coast of Canada in the early 2010's to attend
            the University of British Columbia (UBC) and play on the
            Thunderbirds golf team. I graduated with a Bachelor of Science in
            Geology with Distinction in 2018. As part of my studies I completed
            courses on geochemistry, geomorphology, GIS, groundwater hydrology,
            igneous, metamorphic and sedimentary petrology, soils, statistics,
            structural geology, and volcanology. I worked a summer season in
            northeast BC assisting with a seismic survey (and back in the lab on
            off weeks), and another season in the Golden Triangle working with a
            junior exploration company.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
      <h3>Gallery</h3>
      <gallery></gallery>
    </mat-card-content>
  </mat-card>
</div>
