.home {
  padding: 12px;

  @media (min-width: 1000px) {
    width: 50%;
    margin: 25px auto 25px auto;
  }
}

h1 {
  font-size: xxx-large;
}

.spacer {
  flex-direction: row;
  flex-grow: 1;
}

.about-contact-container {
  display: flex;
  padding: 16px;
}
